%h4
  Prévisions dans
  = delay_label(delay)
.forecast-content
  - parking.forecast(delay) do |min, max|
    - if min.nil? && max.nil?
      Le parking sera sans doute fermé.
    - else
      - if parking.send("fullish_#{delay}?")
        Le parking sera presque rempli (#{max} places au plus)
      - else
        Il devrait y avoir entre
        %span.main-free= min
        et
        %span.main-free= max
        places libres.
