- parking = @parking
.main-parking-outer
  %h2= parking.internal_name
  .main-parking
    .main-parking-availabilities
      %h4
        Occupation actuelle
      .availability-content
        - if parking.is_closed?
          Le parking est
          %span.main-free
            fermé.
        - else
          #{parking.total} #{t('place').pluralize}, #{t('including')}
          %span.main-free
            = parking.available
          #{free_label}.
      - [20, 40, 60].each do |delay|
        = render partial: 'forecast', locals: {parking: parking, delay: delay}
      .forecast-disclosure
        Données prévisionelles calculées à partir des données des semaines précédentes.

    .main-parking-map
      %h4
        Emplacement
        %span.map-link.pull-right
      #parking-map{data: {lng: parking.lng.to_s, lat: parking.lat.to_s, name: parking.base_name}}
