%a.parking{parking_attributes(parking, parking_counter)}
  %h3.parking-name{data: {clean: parking.internal_name}, class: parking_class(parking)}
    = parking.base_name
    - if parking.pr?
      %br
      %span.pr-label
        P+R
    .parking-distance
  .parking-data{class: parking_class(parking)}
    - if parking.is_closed?
      %span.available= t('closed')
      %br
    - else
      %span.available= parking.available
      %span.free= free_label(parking)
      %br
    %span.total
      = "#{parking.total}"
      %span.total-label
        = t('place').pluralize
  - unless parking.is_closed?
    .parking-trend
      = trend_node(parking)
