- cache(parking_index_cache_key(parking)) do
  .col-xs-12.col-sm-4.parking{class: parking_class(parking), data: {lat: parking.lat, lng: parking.lng, index: parking_counter}}
    = link_to parking, class: "thumbnail" do
      .row{style: "padding-top:0;"}
        .col-xs-6
          %h3.parking-name{data: {clean: parking.internal_name}, class: parking_class(parking)}
            = parking.base_name
            - if parking.pr?
              %sup.pr-label
                &nbsp;P+R&nbsp;
          .parking-distance
        %div{class: parking.is_closed? ? "col-xs-6" : "col-xs-4"}
          .parking-data{class: parking_class(parking)}
            - if parking.is_closed?
              %span.available= t('closed')
              %br
            - else
              %span.available= parking.available
              %span.free= free_label(parking)
              %br
            %span.total
              = "#{parking.total}"
              %span.total-label
                = t('place').pluralize
        - unless parking.is_closed?
          .col-xs-2
            .parking-trend
              = trend_node(parking)
