%span.parking{data: {index: parking_counter}, class: parking_class(parking)}
  %h3.parking-name{data: {clean: parking.internal_name}, class: parking_class(parking)}
    = parking.base_name
    - if parking.pr?
      %br
      P+R
  .parking-data{class: parking_class(parking)}
    - if parking.is_closed?
      %span.available= t('closed')
      %br
    - else
      %span.available= parking.available
      %span.free= t('free').pluralize(parking.available)
      %br
    %span.total
      = "#{parking.total}"
      = t('place').pluralize
  - unless parking.is_closed?
    .parking-trend
      = trend_node(parking)
