- cache parking do
  .col-12.col-sm-4{data: {lat: parking.lat, lng: parking.lng, index: parking_counter}}
    = link_to parking, class: parking_class(parking).push(:card, :parking, :'mt-4') do
      .card-body.row{style: "margin-top:0 !important;"}
        .col-12.col-sm-6
          %h3.h5.parking-name{data: {clean: parking.internal_name}, class: parking_class(parking)}
            = parking.base_name
            - if parking.pr?
              %sup.pr-label
                &nbsp;P+R&nbsp;
          .parking-distance
        %div{class: parking.is_closed? ? "col-12 col-sm-6" : "col-12 col-sm-4"}
          .parking-data{class: parking_class(parking)}
            - if parking.is_closed?
              %span.available= t('closed')
              %br
            - else
              %span.available= parking.available
              %span.free= free_label(parking)
              %br
            %span.total
              = "#{parking.total}"
              %span.total-label
                = t('place').pluralize
        - unless parking.is_closed?
          .col-12.col-sm-2
            .parking-trend
              = trend_node(parking)
