- cache(faq_meta_cache_key) do
  - content_for(:meta) do
    %meta{property: 'og:title', content: 'Les parkings à Strasbourg - FAQ'}
    %meta{property: 'og:url', content: faq_url}

- cache(faq_cache_key) do
  .row
    .col-12
      - unless embedded?
        = link_to root_path, class: 'home-link' do
          %h1.app-title= t 'app.title'
      .info-page
        %p= t('footer_text').html_safe
        %p= t('footer_addenum').html_safe
        %p= t('predictions_disclosure')
        %span.embed-instructions
          %p= t('footer_embed')
          %pre
            %code{style: 'width:100%;'}
              :escaped
                <iframe src="https://www.parking-strasbourg.eu/embed" width="100%" height="1200px"></iframe>
