- unless embedded?
  %h1= t 'app.title'
  %h2= t 'app.subtitle'
%p.pull-right.muted
  = last_refresh
.clearfix

- unless embedded?
  .filters
    %span.location-filter
      %a.icon-location{location_attributes}
        %span.location-filter-label
          = t 'filters.car'
    %input#name-filter{type: :text, placeholder: "Rechercher par nom..."}
.parkings
  = render @parkings
