- @parkings = Parking.all
%h1 Liste des p<span class='icon-Acoeur'></span>rkings de Strasbourg
%p.pull-right.muted Dernier rafraîchissement : #{@parkings.first.last_refresh_at}
.clearfix
%ul.parkings
  - @parkings.each do |parking|
    %li.clearfix
      .pull-left{class: parking.is_closed? && "closed"}
        = parking.internal_name
      .pull-right
        - if parking.is_closed?
          .important= parking.user_info
        - else
          %span.available= parking.available
          %span.free libres
          %span.total= "/ #{parking.total}"
          = trend_node(parking)
