%h1 Liste des parkings de Strasbourg

%ul.parkings
  - Parking.all.each do |parking|
    %li.clearfix
      .pull-left{class: parking.is_closed? && "closed"}
        = parking.internal_name
      .pull-right
        - if parking.is_closed?
          .important= parking.user_info
        - else
          %span.available= "#{parking.available} libres"
          %span.total= "/ #{parking.total}"
