- unless embedded?
  .row
    .span12
      .app-subtitle
        %span.ideal
          %span.disabled
            = t 'ideal.disabled.park'
            = link_to t('ideal.disabled.now'), ideal_path
            = t 'ideal.disabled.or'
            = link_to t('ideal.disabled.20'), ideal_path(delay: 20)
            %span.sep -
            = link_to t('ideal.disabled.40'), ideal_path(delay: 40)
            %span.sep -
            = link_to t('ideal.disabled.60'), ideal_path(delay: 60)

          %span.enabled-geoloc.hidden= t 'ideal.enabled-geoloc'
          %span.enabled-address.hidden= t 'ideal.enabled-address'

- if defined?(@parking)
  = render partial: 'main_parking'

- unless embedded?
  .row
    .span12
      .filters
        %p.pull-right.muted
          = last_refresh
          %span.app-info
            = link_to t('info'), faq_path
        .clearfix
        %input#address-filter.filter-item{type: :text, placeholder: t('filters.address.placeholder')}
        %button#location-filter.filter-item
          %span.location-filter-label.disabled-geoloc= t 'filters.car.disabled-geoloc'
          %span.location-filter-label.disabled-address.hidden= t 'filters.car.disabled-address'
          %span.location-filter-label.enabled.hidden= t 'filters.car.enabled'
          %span.location-filter-label.ongoing.hidden= t 'filters.car.ongoing'
.row
  .span12.parkings
    %ul.thumbnails
      = render @parkings
