- unless embedded?
  = link_to root_path, class: 'home-link' do
    %h1.app-title= t 'app.title'
  .app-subtitle
    %span.ideal
      %span.disabled
        Se garer
        = link_to 'maintenant', ideal_path
        ou dans
        = link_to '20mn', ideal_path(delay: 20)
        %span.sep -
        = link_to '40mn', ideal_path(delay: 40)
        %span.sep -
        = link_to '1h', ideal_path(delay: 60)

      %span.enabled-geoloc.hidden= t 'ideal.enabled-geoloc'
      %span.enabled-address.hidden= t 'ideal.enabled-address'

    / %span.sep -
    / %span.info
    /   = link_to t('info'), info_path

- if defined?(@parking)
  = render partial: 'main_parking'

- unless embedded?
  .filters
    %p.pull-right.muted
      = last_refresh
      %span.app-info
        = link_to "Informations sur l'application", info_path
    .clearfix
    %input#address-filter.filter-item{type: :text, placeholder: "Entrez une adresse (utilisée pour la recherche de parkings)"}
    %button#location-filter.filter-item
      %span.location-filter-label.disabled-geoloc= t 'filters.car.disabled-geoloc'
      %span.location-filter-label.disabled-address.hidden= t 'filters.car.disabled-address'
      %span.location-filter-label.enabled.hidden= t 'filters.car.enabled'
      %span.location-filter-label.ongoing.hidden= t 'filters.car.ongoing'
    %input#name-filter.filter-item{type: :text, placeholder: "Filtrer par nom..."}
.parkings
  = render @parkings
