- unless embedded?
  = link_to root_path, class: 'home-link' do
    %h1= t 'app.title'
  %h2= t 'app.subtitle'
%p.pull-right.muted
  = last_refresh
.clearfix

- if defined?(@parking)
  = render partial: 'main_parking'

- unless embedded?
  .filters
    %span.location-filter
      %a.icon-location{location_attributes}
        %span.location-filter-label.disabled
          = t 'filters.car.disabled'
        %span.location-filter-label.enabled.hidden
          = t 'filters.car.enabled'
        %span.location-filter-label.ongoing.hidden
          = t 'filters.car.ongoing'
    %input#name-filter{type: :text, placeholder: "Rechercher par nom..."}
.parkings
  = render @parkings
