- parking = @parking
- cache do
  - content_for(:meta) do
    %meta{property: 'og:title', content: "Les parkings à Strasbourg - #{parking.internal_name}"}
    %meta{property: 'og:url', content: parking_url(parking)}

- cache parking do
  .row.main-parking
    .col-xs-12
      = link_to "/", class: "text-muted h4", style: "margin-top:0;margin-bottom:30px;display:inline-block;" do
        ← retour à l'accueil
    .col-xs-12.col-sm-6
      .main-parking-availabilities
        %h4= t 'main.titles.current'
        .availability-content
          - if parking.is_closed?
            = t 'main.labels.closed'
            %span.main-free
              = t 'main.labels.closed_item'
          - else
            #{parking.total} #{t('place').pluralize}, #{t('including')}
            %span.main-free
              = parking.available
            #{free_label}.
        - [20, 40, 60].each do |delay|
          = render partial: 'forecast', locals: {parking: parking, delay: delay}
        .forecast-disclosure
          = t('predictions_disclosure')
    .col-xs-12.col-sm-6
      %h4
        = t 'main.titles.location'
        %span.map-link.pull-right
      .main-parking-map
        #parking-map{data: {lng: parking.lng.to_s, lat: parking.lat.to_s, name: parking.base_name}}
