!!! 5
%html
  %head
    %title= t 'app.title'
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %meta{name: 'description', content: t('app.title')}
    %meta{name: 'author', content: 'Yann Klis'}
    = javascript_include_tag :application
    = stylesheet_link_tag :application, media: :all
    = csrf_meta_tags
  %body{class: embedded? ? 'embed' : 'nonembedded'}
    .content
      = yield
      .footer
        - unless embedded?
          = link_to image_tag('strasbourgtheeuroptimist.jpg'), 'http://www.strasbourg.eu', class: 'img-centered'
      .clearfix
    = render partial: 'shared/gmaps'
    = render partial: 'shared/analytics'
