!!!
%html{lang: I18n.locale.to_s}
  %head
    %title= @parking.present? ? "Les parkings à Strasbourg - #{@parking.internal_name}" : t('app.title')
    %meta{charset: "utf-8"}
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}
    %meta{name: 'description', content: t('app.title')}
    %meta{charset: 'UTF-8'}
    %meta{name: :author, content: "Yann Klis, Kevin Soltysiak, Novelys"}
    %meta{name: 'geo.region', content: 'FR-67'}
    %meta{name: 'geo.placename', content: 'Strasbourg'}
    %meta{name: 'geo.position', content: '46.227638;2.213749'}
    %meta{name: 'ICBM', content: '46.227638, 2.213749'}
    %meta{name: 'og:site_name', content: 'Les parkings à Strasbourg'}
    %meta{name: 'og:type', content: 'website'}
    %meta{property: "og:image", content: asset_url("fb.png")}
    %meta{name: :keywords, content: "strasbourg, parking, parkings, parking à strasbourg, parkings à strasbourg, les parkings à strasbourg, place de parking, places de parking, Parkhäusern, Parkhäusern in Straßburg, #{Parking.all.to_a.map(&:name).join(', ')}"}
    - if content_for?(:meta)
      = yield(:meta)
    - else
      %meta{property: 'og:title', content: 'Les parkings à Strasbourg'}
      %meta{property: 'og:url', content: root_url}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oswald:300"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
    = stylesheet_link_tag  :application, media: :all
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags
  %body{class: body_class}
    - cache(navbar_cache_key(@parking)) do
      %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        .container
          %a.navbar-brand{:href => "/"}
            %i.icomoon-car
            - if @parking
              = @parking.internal_name
            - else
              = t 'app.title'
    .container
      = yield
    %footer.footer.container.text-center
      - unless embedded?
        %ul.list-inline{style: "margin:20px 0;"}
          %li= link_to "Horaires prochain bus à Strasbourg", "http://www.monprochainbus.eu/", class: "text-muted", style: "text-decoration:underline;"
          %li= link_to "Horaires prochain tram à Strasbourg", "http://www.monprochainbus.eu/", class: "text-muted", style: "text-decoration:underline;"
        = link_to image_tag('strasbourgtheeuroptimist.jpg', style: "margin-bottom:20px;"), 'http://www.strasbourg.eu', class: "pull-right"
    = render partial: 'shared/gmaps'
    = javascript_include_tag :application
    = render partial: 'shared/analytics'
